.themeButton {
    border: solid rgb(95, 91, 95);
    border-radius: 50em;
}

.themeButton--background {
    background-color: #4e4647;
    border-radius: 50em;
}

.body--background {
    overflow: auto;
    background-image: url("../images/dessert.jpg");
    object-fit: cover;
}